<!DOCTYPE html>
<html>
  <head>
    <title>Broilerplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets/application', media: 'all' %>
    <%= alertify_flash %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="<%= root_path %>">Broilerplate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <% unless current_user %>
            <%= link_to "Authentication page", new_user_session_path, class: 'nav-link' %>
          <% else %>

            <%= link_to "Documents", documents_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
            <%=  current_user ? "#{current_user.first_name} #{current_user.last_name}" : "User not logged in" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <% unless current_user %>
              <%= link_to "Sign in", new_user_session_path, class: 'dropdown-item'%>
            <% else %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>