<!DOCTYPE html>
<html>
  <head>
    <title>Devise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background: transparent !important;">
    <a class="navbar-brand" href="<%= root_path %>">Broilerplate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
  <div class="container">
    <div class="split left">
      <div class="jumbotron d-flex align-items-center min-vh-100" style="background: none;">
        <div class="container text-white">
          <h1 class="display-6">Authentication</h1>
          <p class="lead">Smart-ID / Mobile-ID / ID-card</p>
        </div>
      </div>
    </div>
    <div class="split right text-center row align-items-center h-100">
          <div class="col-6 mx-auto">
      <%= yield %>
        </div>
    </div>
</div>
  </body>
</html>